.header-waste {
    background-image: url(images/cotton-products.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom:80px;
    font-family:'Source Sans Pro', sans-serif;
  }
  
  @media (min-width:768px) {
    .header-waste {
      padding-bottom:120px;
    }
  }

  .container-n{
    margin-left:5rem;
  }

  
  .header-waste .navbar {
    background:transparent;
    padding-top:.75rem;
    padding-bottom:.75rem;
    color:#fff;
    border-radius:0;
    box-shadow:none;
    border:none;
    text-align:center;

  }
  
  @media (min-width:768px) {
    .header-waste .navbar {
      padding-top:1rem;
      padding-bottom:1rem;
    }
  }
  
  .header-waste .navbar .navbar-brand {
    font-weight:bold;
    color:inherit;

  }



  .header-waste .dropdown-item{
    font-family: "Dawning of a New Day", cursive;
    line-height: 2;
 
  }



  .header-waste .icon{
    width:25px;
    height:25px;
  }
 

 /*STYLING THE ICONS*/

 
  
  .header-waste .navbar .navbar-collapse {
    border-top:1px solid rgba(255,255,255,0.3);
    margin-top:.5rem;
  }
  
  @media (min-width:768px) {
    .header-waste .navbar .navbar-collapse {
      border-color:transparent;
      margin:0;
    }
  }
  
  .header-waste .navbar .navbar-collapse span .login {
    color:#d9d9d9;
    margin-right:.5rem;
    text-decoration:none;
  }
  
  .header-waste .navbar .navbar-collapse span .login:hover {
    color:#3e7c59;
  }
  
  .header-waste .navbar .navbar-toggler {
    border-color:rgba(255,255,255,0.3);
  }
  
  .header-waste .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
    background:none;
  }
  
  .header-waste .navbar .navbar-nav a.active, .header-blue .navbar .navbar-nav > .show .dropdown-item {
    background:none;
    box-shadow:none;
  }
  
  @media (min-width: 768px) {
    .header-waste .navbar-nav .nav-link {
      padding-left:.7rem;
      padding-right:.7rem;
    }
  }
  
  @media (min-width: 992px) {
    .header-waste .navbar-nav .nav-link {
      padding-left:1.2rem;
      padding-right:1.2rem;
    }
  }
  
  .header-waste .navbar .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:#fff;
    border-radius:12px;
  }
  
  .header-waste .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
    line-height:2;
    color:#37434d;
  }
  
  .header-waste .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item:hover {
    background:#ebeff1;
  }
  
  .header-waste .action-button, .header-blue .action-button:not(.disabled):active {
    border:1px solid rgba(255,255,255,0.7);
    border-radius:40px;
    color:#ebeff1;
    box-shadow:none;
    text-shadow:none;
    padding:.3rem .8rem;
    background:transparent;
    transition:background-color 0.25s;
    outline:none;
  }
  
  .header-waste .action-button:hover {
    color:#fff;
  }
  
  .header-waste .navbar .form-inline label {
    color:#d9d9d9;
  }
  
  .header-waste .navbar .form-inline .search-field {
    display:inline-block;
    width:80%;
    background:none;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:#ccc;
    box-shadow:none;
    color:inherit;
    transition:border-bottom-color 0.3s;
  }
  
  .header-waste .navbar .form-inline .search-field:focus {
    border-bottom:1px solid #ccc;
  }
  
  .header-waste .hero {
    margin-top:10px;
    text-align:center;
  }
  
  @media (min-width:768px) {
    .header-waste .hero {
      margin-top:60px;
      text-align:left;
    }
  }
  
  .header-waste .hero h1 {
    color:#fff;
    font-size:50px;
    margin-top:5px;
    margin-bottom:15px;
    font-weight:300;
    line-height:1.4;
    font-family: "Mynerve", cursive;
  }
  
  @media (min-width:992px) {
    .header-waste .hero h1 {
      margin-top:190px;
      margin-bottom:24px;
      line-height:1.2;
    
    }
  }
  
  .header-waste .hero p {
    color:rgba(255,255,255,0.8);
    font-size:20px;
    margin-bottom:30px;
    font-weight:390;
    
  }

  .container .eats-1{
    text-align:center;
    font-size:20px;
  }

  .container .products-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:200px;

  }

  .container-supply{
    background-color: #617F4B;
    height:200px;
    text-align:center;
  }

  .heading-p{
    font-size:15px;

    
  }

  .sub-heading-p{
    font-size:35px;
    font-family: "Mynerve", cursive;
  }

  .heading-m{
    font-size:13px;
    color:#3e7c59;
  }

  .title {
 
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family:'Source Sans Pro', sans-serif;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
    text-align:left;
     
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators .active {
    background-color: white;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}



.btn {
  margin-top: auto;
}

.carousel-item .d-block{
  width:100%;
  height:350px;

}

.container .images{
  width:100%;
  height:300px;
}

/* SHOP SECTION*/

.container-shop{
  text-align:center;
  width:60%;
  margin:auto;
  
}

.container-shop .heading-p{
  font-size:15px;

  
}

.container-shop .sub-heading-p{
  font-size:30px;

  color:#3e7c59;
}


.trending{
  background-color:#617F4B;
  height:140px;
  width:100%;
}

.img-fluid{
  height:200px;
  width:200px;
}

.h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 80px;
 
}

.h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousels {
	margin: 50px auto;
	padding: 0 70px;
}
.carousels .carousels-item {
	min-height: 330px;
	text-align: center;
	overflow: hidden;
}
.carousels .carousels-item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousels .carousels-item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousels .carousels-item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.carousels .carousels-item .btn {
	color: #333;
	border-radius: 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin-top: 5px;
	line-height: 16px;
}
.carousels .carousels-item .btn:hover, .carousels .carousels-item .btn:focus {
	color: #fff;
	background: #000;
	border-color: #000;
	box-shadow: none;
}
.carousels .carousels-item .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousels .thumb-wrapper {
	text-align: center;
}
.carousels .thumb-content {
	padding: 15px;
}
.carousels-control-prev, .carousels-control-next {
	height: 100px;
	width: 40px;
	background: none;
	margin: auto 0;
	background: rgba(0, 0, 0, 0.2);
}
.carousels-control-prev i, .carousels-control-next i {
	font-size: 30px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -16px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	font-weight: bold;
}
.carousels-control-prev i {
	margin-left: -3px;
}
.carousels-control-next i {
	margin-right: -3px;
}
.carousels .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousels .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carousels .item-price span {
	color: #86bd57;
	font-size: 110%;
}	
.carousels .carousels-indicators {
	bottom: -50px;
}
.carousels-indicators li, .carousels-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
	border: none;
}
.carousels-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousels-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}

/*STYLING THE LINE BREAK*/

hr{
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(21, 91, 11), rgba(0, 0, 0, 0));
}
  

/* DONATE SECTION*/

.donate{
  background-image: url(images/background-donation.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align:center;
  color:white;
  height:600px;
  color:#000000;

  
}

.donate h1{
  font-size:35px;
  font-family: "Mynerve", cursive;
}
.donation-heading{
  text-align:center;
  font-size:35px;
  font-family: "Mynerve", cursive;
  color:#3e7c59;
}

.box{
  position:relative;
  display:flex;
  justify-content:center;
  font-family: "Mynerve", cursive;
  
 
}

.donation{
  margin:auto;
  width:50%;
}

.btn1:link,
.btn1:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative;
  top:0;
  left:0;
  padding:20px 40px;
  border-radius:100px;
  display:inline-block;
  transition: all .5s;
}

.btn1-white{
  background:#617F4B;
  color: #3d3d3d;;
  text-decoration:none;
  font-weight:bold;
  
}

.btn1:hover{
   box-shadow:0px 10px 10px rgba(0,0,0,0.2);
   transform : translateY(-3px);
   color:#3d3d3d;
}

.btn1:active{
  box-shadow:0px 5px 10px rgba(0,0,0,0.2);
  transform : translateY(-1px);
}

.btn1-bottom-animation-1{
  animation:comeFromBottom 1s ease-out .8s;
}

.btn1::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}

.btn1-white::after {
    background: #617F4B;
}

.btn1-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes comeFromBottom{
  0%{
    opacity:0;
    transform:translateY(40px);
  } 
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

/* OUR SERVICES PAGE*/

.feeding{
  height:300px;
  width:auto;
}

.feeding-images{
  height:300px;
  width:auto;


}

.feeding-h{
  text-align:center;
  font-size:23px;
}
.feeding-p{
  font-size:15px;
  text-align:center;
}

.icon-feed{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.stats{
  text-align:center;
  font-weight:bold;
  color:#3e7c59;
  font-size:25px;
}

/*OUR SERVICES*/

.container-s{
  transform-style: preserve-3d;
}

.container-s .box{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
}

.container-s .box .body{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.9s ease;
}



.container-s .box .body .imgContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.container-s .box .body .imgContainer img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-s .box .body .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.container-s .box:hover .body{
  transform: rotateY(180deg);
}

.container-s .box .body .content div{
  transform-style: preserve-3d;
  padding: 20px;
  background: linear-gradient(45deg, #3e7c59,#617F4B);
  transform: translateZ(100px);
}

.container-s .box .body .content div h3{
  letter-spacing: 1px;
}



/*OUR SERVICES*/

.our-services{
  margin:auto;
  width:50%;
}

.col-services h1{
  font-size:20px;
  
}

.col-services img{
  width:250px;
  height:200px;
}

.col-services{
  width:50%;
  float:left;
}

.row-services{
  content: " ";
  display: table;
  clear: both;
}




/*FOOTER*/

  
.new_footer_area {
  background: #fbfbfd;
}


.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
    overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}
.btn_get_two:hover {
  background: transparent;
  color: #3e7c59;
}
.btn_get:hover {
  color: #fff;
  background: #3e7c59;
  border-color: #3e7c59;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #3e7c59;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #3e7c59;
  border-color: #3E7C59;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #3e7c59;
}

.new_footer_top .f_social_icon a:hover {
  background: #3e7c59;
  border-color: #3e7c59;
color:white;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
  
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}


.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 250px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
background-size:100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
background-size:100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@-webkit-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@media (max-width:992px){

.new_footer_top .f-title {
  padding-top:28px;

}
}


